.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 40px;
  pointer-events: none;
  float: left; margin: 10px;
}

.App-header {
  background-color: lightgrey;
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Main-container {
  height: 90vh;
  background-color: grey;
}
.App-link {
  color: #61dafb;
}

.Picture {
  max-width: 30%;
}
.Picture > img {
  width: 100%;
}

.GalleryContainer {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.HeaderNavigation {
  display: flex;
  flex-direction: row;
  margin: 0;
  list-style: none;
}

.HeaderNavigation > li {
  padding: 10px;
}
.HeaderNavigation > li > a {
  text-decoration: none;
}

